body {
  background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 2rem;
  background-color: transparent;
  /* Agrega otros estilos necesarios para la tarjeta */
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    /* Cambia al 100% en dispositivos móviles */
  }
}


.botones {
  display: flex;
  justify-content: center;
}

.guardar {
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  display:block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}