
<footer class="text-center" style="background-color: #f8f9fa; padding: 20px;">
  <span style="font-size: 18px;">Jesus Chavez</span>
  <div style="margin-top: 10px;">
      <a href="#" style="text-decoration: none; color: #333;">
          <i class="fab fa-twitter"></i>
      </a>
      <a href="#" style="text-decoration: none; color: #333; margin-left: 10px;">
          <i class="fab fa-instagram"></i>
      </a>
      <a href="#" style="text-decoration: none; color: #333; margin-left: 10px;">
          <i class="fab fa-facebook"></i>
      </a>
  </div>
</footer>
<script src="https://kit.fontawesome.com/654f81b759.js" crossorigin="anonymous"></script>
</body>
</html>

