<%- include layouts/header.ejs %>

<style>
  .container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 500px;
  }

  .form-control {
    border-radius: 5px;
    border: none;
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .form-label {
    font-weight: bold;
  }

  .guardar {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 10%;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 14px;
    line-height: 1;
  }

  .guardar:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    transform: translateY(-2px);
  }
</style>

<div class="container">
  <h1><%= title %></h1>

  <form action="/agregar" method="POST" id="form">
    <div class="grupo">
      <div class="mb-3">
        <label for="titulo" class="form-label">Producto</label>
        <input type="text" class="form-control" id="titulo" name="titulo" required>
      </div>
    </div>
    <div class="mb-3">
      <label for="imagen" class="form-label">Imagen</label>
      <input type="text" class="form-control" id="imagen" name="imagen" required>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <input type="text" class="form-control" id="descripcion" name="descripcion" rows="3" required>
    </div>
    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" step="0.01" class="form-control" id="precio" name="precio" required>
    </div>
    <button type="submit" class="guardar" name="guardar">Guardar</button>
  </form>
</div>

<%- include layouts/footer.ejs %>
